<nav>
  <ul class="customer__list">
    <li class="customer__list-item"><a href="/tools/recurring/login">{{ "customer.navigation.purchase_history" | t }}</a></li>
    <li class="customer__list-item"><a href="/tools/recurring/login">{{ "customer.navigation.subscriptions" | t }}</a></li>
    <li class="customer__list-item">{{ "customer.navigation.log_out" | t | customer_logout_link }}</li>
  </ul>
</nav>
