{%- assign _section = section.settings -%}

<div class="icons-section">
  <div class="icons-section--inner">
    <h3 class="icons-section--title">
      {{ _section.title }}
    </h3>
    <div class="icons-section--content js-icons-slider">
      {%- for block in section.blocks -%}
        {%- assign _block = block.settings -%}

        <div class="icons-section-item js-icons-slider-item">
          {%- if _block.image != blank -%}
            <div class="icons-section-item--image">
              <img src="{{ _block.image | img_url: '250x' }}">
            </div>
          {%- endif -%}
          {%- if _block.title != blank -%}
            <div class="icons-section-item--title">
              {{ _block.title }}
            </div>
          {%- endif -%}
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Press",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Press"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "textarea",
          "id": "title",
          "label": "Title"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Modules",
      "name": "Press"
    }
  ]
}
{% endschema %}