<div class="button__wrapper button__wrapper--fixed hide-tablet">
  <a href="/products/lemon-lime" class="button button--blue">
    <strong>{{ "layout.header.button_text" | t }}</strong>
  </a>
</div>

{% section "sparkle_header" %}
{% section "sparkle_benefits" %}
{% section "sparkle_hero" %}
{% section "sparkle_instructions" %}
{% section "comparison-sparkle" %}
{% section "tubs_with_options" %}

<div class="page-reviews-wrapper" id="reviews-widget">
  <div data-oke-reviews-widget=""></div>
</div>

{% section "faqs" %}
