<div class="button__wrapper button__wrapper--fixed hide-tablet">
  <a href="/products/lemon-lime" class="button button--blue">
    <strong>{{ "layout.header.button_text" | t }}</strong>
  </a>
</div>

{% section "sparkle_header-2" %}
{% section "sparkle_benefits" %}
{% section "sparkle_hero-2" %}
{% section "sparkle_instructions" %}
{% section "comparison" %}
{% section "tubs_with_options" %}
{% section "reviews" %}
{% section "faqs" %}
