<div class="page__wrapper">
  <article class="page__container">
    <header class="page__header">
      <h1 class="page__heading">{{ page.title }}</h1>
    </header>

    <div class="page__content">
      {{ page.content }}
    </div>
  </article>
</div>
